@model AutoPartsStockControlSystem.Models.Supplier
@{
    /**/

    Layout = "~/Views/Shared/_Layout_DataTable.cshtml";
}

@using (Html.BeginForm("AddOrEditSuppliers", "AdminPage", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{@Html.HiddenFor(model => model.SupplierID)
<div class="form-group">
    @Html.LabelFor(model => model.SupplierName, "Name", new { @class = "control-label" })
    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @required = "required", autocomplete = "off" } })
    @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })

</div>
<div class="form-group">
    @Html.LabelFor(model => model.SupplierProductsType, "Product Type", new { @class = "control-label" })
    @Html.EditorFor(model => model.SupplierProductsType, new { htmlAttributes = new { @class = "form-control", @required = "required", autocomplete = "off" } })
    @Html.ValidationMessageFor(model => model.SupplierProductsType, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SupplierContact, "Contact", new { @class = "control-label" })
    @Html.EditorFor(model => model.SupplierContact, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required", autocomplete = "off" } })
    @Html.ValidationMessageFor(model => model.SupplierProductsType, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SupplierEmail, "Email", new { @class = "control-label" })
    @Html.EditorFor(model => model.SupplierEmail, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "required", autocomplete = "off" } })
    @Html.ValidationMessageFor(model => model.SupplierEmail, "", new { @class = "text-danger" })
</div>
<div class="form-group">

    @Html.LabelFor(model => model.SupplierExperience, "Supplier Experience", new { @class = "control-label", @required = "required", autocomplete = "off" })

    @Html.EditorFor(model => model.SupplierExperience, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.SupplierExperience, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn" />
</div>
}