<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Auto Parts Stock Control System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "UserDashboard", "UserPage", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Search Stock", "UserSearchStock", "UserPage")</li>
                    <li>@Html.ActionLink("Add New Item", "UserAddNewItem", "UserPage")</li>
                    <li>@Html.ActionLink("Update Stock", "UserUpdateStock", "UserPage")</li>
                    <li>@Html.ActionLink("Sales", "UserSales", "UserPage")</li>
                    <li>@Html.ActionLink("Suppliers", "UserSuppliers", "UserPage")</li>
                    <li>@Html.ActionLink("Send Message", "UserSendMessage", "UserPage")</li>
                </ul>

                <ul class="nav navbar-nav" style="float: right !important">
                    @if (Session["Email"] != null)
                    {
                        <li><p style="color:#fff;margin-top:15px;"> Hello @Session["Email"] </p></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }

                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }

                </ul>

            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Auto Parts Stock Control System || By Renald Dalli</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
