@model AutoPartsStockControlSystem.Models.Item
@{
    /**/

    /**/

    Layout = "~/Views/Shared/_Layout_DataTable.cshtml";
}

@using (Html.BeginForm("EditItem", "UserPage", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ItemID)

    @Html.HiddenFor(model => model.ItemPart)

    <div class="form-group">
        @Html.LabelFor(model => model.ItemDescription, "Item Description", new { @class = "control-label" })
        @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ItemCategory, "Item Category", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.ItemCategory, new SelectList(new List<SelectListItem>
 {
 new SelectListItem { Text = "Engine" , Value = "Engine"},
 new SelectListItem { Text = "Transmission" , Value = "Transmission"},
 new SelectListItem { Text = "DriveShafts & Joints" , Value = "DriveShafts & Joints"},
 new SelectListItem { Text = "Fuel System" , Value = "Fuel System"},
 new SelectListItem { Text = "Ignition System" , Value = "Ignition System"},
 new SelectListItem { Text = "Exhaust System" , Value = "Exhaust System"},
 new SelectListItem { Text = "Filters", Value = "Filters" },
 new SelectListItem { Text = "Electrical", Value = "Electrical" },
 new SelectListItem { Text = "Suspension", Value = "Suspension" },
 new SelectListItem { Text = "Steering", Value = "Steering" },
 new SelectListItem { Text = "Brakes", Value = "Brakes" },
 new SelectListItem { Text = "Body", Value = "Body" },
 new SelectListItem { Text = "Oils & Fluids", Value = "Oils & Fluids" },
 new SelectListItem { Text = "Interior", Value = "Interior" },
 new SelectListItem { Text = "Windscreen & Wiper System", Value = "Windscreen & Wiper System" },
 new SelectListItem { Text = "Air Conditioning", Value = "Air Conditioning" },

 },
  "Value", // property to be set as Value of dropdown item
  "Text",  // property to be used as text of dropdown item
  "True"), // value that should be set selected of dropdown

  new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ItemCategory, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemPrice, "Item Price", new { @class = "control-label" })
        @Html.EditorFor(model => model.ItemPrice, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        @Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PartCompatability, "Compatability", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.PartCompatability, new SelectList(new List<SelectListItem>
 {
 new SelectListItem { Text = "European Vehicles" , Value = "European Vehicles"},
 new SelectListItem { Text = "American Vehicles", Value = "American Vehicles" },
 new SelectListItem { Text = "Asian Vehicles", Value = "Asian Vehicles" }
 },
  "Value", // property to be set as Value of dropdown item
  "Text",  // property to be used as text of dropdown item
  "True"), // value that should be set selected of dropdown

  new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PartCompatability, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.VehicleMake, "Vehicle Make", new { @class = "control-label" })
        @Html.EditorFor(model => model.VehicleMake, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        @Html.ValidationMessageFor(model => model.VehicleMake, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.VehicleModel, "Vehicle Model", new { @class = "control-label" })
        @Html.EditorFor(model => model.VehicleModel, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        @Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VehicleModelYearRange, "Vehicle Model Year", new { @class = "control-label" })
        @Html.EditorFor(model => model.VehicleModelYearRange, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        @Html.ValidationMessageFor(model => model.VehicleModelYearRange, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemQuantity, "Quantity", new { @class = "control-label" })
        @Html.EditorFor(model => model.ItemQuantity, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        @Html.ValidationMessageFor(model => model.ItemQuantity, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>
}